{{welcome}}
<!-- 
    This is the "form" that creates a todo
    Instead of using the traditional HTML form, we are data-binding
    the name and is complete fields with the ng-model and using angular
    to send the form instead of a HTML form tag.
 -->
<div class="form-group">
    <label for="name">To Do Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name" ng-model="todo.Name">
</div>
<div class="form-group">
    <label for="isComplete">Is Complete</label>
    <input type="checkbox" id="isComplete" ng-model="todo.IsComplete">
</div>
<!-- ng-clicks are angular's .on('click') functionality  -->
<button ng-click="submit(todo)">Submit</button>